<h1>Edit Book</h1>
<p><i>* marks a required field.</i></p>
<form action="/my-library/<%=@book.id%>" method="post">
  <input type="hidden" id="hidden" name="_method" value="patch">
  <h2>Title* <input type="text" name="title" value="<%=@book.title%>"></h2>
  <p><b>Author* </b><input type="text" name="author" value="<%=@book.author.name%>"></p>
  <p>This book is stored <input type="text" name="location" value="<%=@book.location%>"></p>
  <p>Comments on this book</p>
  <textarea name="comments" rows="5" cols="60"><%=@book.comments%></textarea>
  <br>
  <input type="submit" value="Save changes">
</form>
