<h2><%= @book.title %></h2>
<h3><%= @book.author.name %></h3>

<% if @book.goodreads_flag %>
<b><a href="<%=@book.goodreads_url%>"></a>Goodreads link</b>
<p><b><%= @book.goodreads_rating %></b></p>
<%end%>

<% if @book.read? %>
<p>You've read this book <%=@book.times_read%> times.</p>
<%end%>

<% if @book.owned? %>
<p>You own this book.</p>
<% end %>

<% if @book.location.size > 0 %>
<p>This book is located: <%=@book.location%></p>
<%end%>

<% if @book.comments.size > 0 %>
<p><i>Your notes:</i></p>
<p><%=@book.comments%></p>
<%end%>

<% if !@book.goodreads_flag %>
<form action="/my-libray/<%=@book.id%>" method="post">
<input type="submit" name="get_goodreads_data" value="Get Goodreads Data">
</form>
<%end%>

<a href="/my-library/<%=@book.id%>/edit"><i>Edit this book</i></a>

<form action="/my-library/<%=@book.id%>/delete" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete this book">
</form>


Still need to add tags
