<h2><%= @book.title %></h2>
<a href="/authors/<%=@book.author.id%>"><h3><%= @book.author.name %></h3></a>

<% if @book.location.size > 0 %>
  <p>This book is located: <%=@book.location%></p>
<%end%>

<% if @book.comments != nil %>
  <p><i>Your notes:</i></p>
  <p><%=@book.comments%></p>
<%end%>

<a href="/my-library/<%=@book.id%>/edit">Edit this book</a>
<br>
<br>
<form action="/my-library/<%=@book.id%>/delete" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete this book">
</form>
<br>
<a href="/my-library">Return to your library</a>
